.btn-crud{
    width: 20%;
}

.container-card__crud{      
    width: 40%
}

.btn-create{
    width: 15%;
}
@media (max-width: 768px) {
    .btn-crud{
        width: 90%;
        margin: 5%;
    }
    .container-card__crud{
        width: 90%;
    }
    .btn-create{
        width: 30%;
    }
}
/* 
@media (max-width: 995px) {
    
} */