<div class="container mt-5">
    <h1 class="text-center mb-5">Lista de Videos con titulo</h1>
    @if(user !== undefined && user?.roles?.includes('Writer')){
      <div class="d-flex align-items-end justify-content-end  mb-5">
        <a href="/admin/content/create" class="btn btn-success btn-create"> Crear nuevo contenido</a>
      </div>
    }
    <div class="container-cards d-flex justify-content-around flex-wrap align-items-start">
        @for(content of contents; track $index){
          <div class="card card-fluid container-card__crud mb-5">
            <div class="bg-success">
              <h3 class="text-center text-white">{{content.title}}</h3>
            </div>
            <video class="img-fluid mh-preview video-list" [src]="'https://localhost:7072/view/' + content.filePath" controls></video>
            <div class="d-flex flex-column align-items-center flex-md-row justify-content-around align-items-md-start card-body">
              <a [href]="'/admin/content/'+content.id" class="btn btn-success btn-crud">Ver</a>
              @if(user !== undefined && user?.roles?.includes('Writer')){
                <a [href]="'/admin/content/update/'+content.id" class="btn btn-success btn-crud">Modificar</a>
                <button class="btn btn-danger btn-crud" (click)="deleteContent(content.id)">Borrar</button>
              }
            </div>
          </div>
        }
      </div>
</div>

