@if(content){
    <!-- View VBL -->
    @if(content.contentCategory=="VBL"){
        <div class="container">
            @if(content){    
                <div class="container">
                    <div class="mt-5 bg-success">
                        <h1 class="mb-0 text-center">{{content.title}}</h1>
                    </div>
                    <div class="container-banner">
                        <div class="banner-video banner-video-vt d-flex align-items-center">
                            <video class="img-fluid mh-preview" [src]="'https://localhost:7072/view/' + content.filePath" controls></video>
                        </div>
                        <div class="banner-image">
                            <img [src]="'https://localhost:7072/view/'+content.sideBannerImage" class="" [alt]="'Imagen'+content.title">
                        </div>
                        <div class="banner-text">
                            <p>{{content.sideBannertext}}</p>
                        </div>
                    </div>
                    
                </div>
            }@else{
                <h1 class="mt-5 text-center">No se encontró el contenido</h1>
            }
        </div>
    }

    <!-- View VT -->

    @if(content.contentCategory=="VT"){
        <div class="container">
            @if(content){    
                <div class="container">
                    <div class="mt-5 bg-success">
                        <h1 class="mb-0 text-center">{{content.title}}</h1>
                    </div>
                    <div class="">
                        <div class="banner-video banner-video-vt d-flex align-items-center">
                            <video class="img-fluid mh-preview" [src]="'https://localhost:7072/view/' + content.filePath" controls></video>
                        </div>
                    </div>
                    
                </div>
            }@else{
                <h1 class="mt-5 text-center">No se encontró el contenido</h1>
            }
        </div>
    }

    <!-- View VBL -->
    @if(content.contentCategory=="BT"){
        <div class="container">
            @if(content){    
                <div class="container">
                    <div class="mt-5 bg-success">
                        <h1 class="mb-0 text-center">{{content.title}}</h1>
                    </div>
                    <div class="">
                        <div class="banner-image">
                            <img [src]="'https://localhost:7072/view/'+content.sideBannerImage" class="" [alt]="'Imagen'+content.title">
                        </div>
                        <div class="banner-text">
                            <p>{{content.sideBannertext}}</p>
                        </div>
                    </div>
                    
                </div>
            }@else{
                <h1 class="mt-5 text-center">No se encontró el contenido</h1>
            }
        </div>
    }
}